@import '../../global.scss';

.userIcon { 
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 21px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;

    @include mobile {
        display: none;
    }

    &:hover {
        // opacity: .5;

        .hover {
            display: flex;
        }
    }

    svg {
        transition: all .3s ease;

        &:hover {
            opacity: .5;
        }
    }
}