.listItemContainer {

    .listItem {
        color: var(--font);
        font-size: 18px;
        font-weight: 500;
        transition: all .3s ease;

        &:hover {
            opacity: .5;
        }
    }
}